<footer >
    <div class="footer-container">
        <div class="social-medias">
            <ul>
                <li style="color: blue; margin-bottom: 10px;"><fa-icon [icon]="faFacebook" class="fa-2xl"></fa-icon></li>
                <li class="logo-instagram"><fa-icon [icon]="faInstagram" class="fa-2xl"></fa-icon></li>
            </ul>
        </div>
        <div class="footer-menu">
            <ul>
                <li>Contact</li>
                <li>Mentions légales</li>
                <li>L'équipe</li>
                <li>Cookies</li>
            </ul>
        </div>
        <p class="copyrights"><fa-icon [icon]="faCopyright" class="me-1"></fa-icon>Copyrights tout droits réservés / GamingBase 2024</p>

    </div>  
</footer>
