footer li{
    list-style-type: none;
    cursor: pointer;
}
.footer-container{
    margin: 25px 20px 3px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social-medias{
    align-self: center;
}
.footer-menu{
    font-size: 14px;
    line-height: 25px;
}
.logo-instagram{
    background: linear-gradient( to right, #833ab4,#fd1d1d,#fcb045 );
  border-radius: 9px;
  color: white;
  text-align: center;
  width: 33px;
}
.copyrights{
    font-size: 10px;
}