<section class="text-white">
    <h1 class="fs-6 text-center text-primary fw-bold my-5">Les meilleurs sites internet gaming de référence</h1>
    <div>
        <article class="bg-warning p-3">
                <h2 class="fs-4 fw-bold mb-3"><a class="text-decoration-none" href="https://www.jeuxvideo.com/">JEUXVIDEO.COM</a></h2>
                    <img  style="width: 90px;height: 70px;" class="float-start me-1" src="/images/jeuxvideocom-logo.png" alt="jeuxvideo_logo">
                        <p>Créé en 1997 et d'abord connu pour son encyclopédie des trucs et astuces (ETAJV), Jeuxvideo.com (renommé JV en 2021) est le plus ancien site français consacré au gaming encore en activité, mais aussi le plus fréquenté.
                    News, Tests, Previews et trailers sont publiés au quotidien par une rédaction constituée de journalistes spécialisés.
                    Le site s'appuie également sur la forte audience de ses forums, et intervient quotidiennement sur la chaîne Twitch de son éditeur, Webedia, nommée LeStream.</p>
        </article>
        <article class="bg-primary p-3">
            <h2 class="fs-4 fw-bold mb-3"><a class="text-decoration-none text-warning" href="">GAMEKULT</a></h2>
                <img  style="width: 200px;height: 70px; margin-bottom: 10px;" src="/images/gamekult-logo.png" alt="gamekult_logo">
                    <p>Actif depuis 2000, Gamekult est l'un des sites français consacrés au jeu vidéo les plus connu et respecté de l'hexagone.
                        En partie financé par les abonnements de ses lecteurs depuis 2015, Gamekult propose différents contenus écrits, audio et vidéo réalisés en interne ou par des journalistes pigistes auxquels les abonnés peuvent accéder sans publicité,
                        Son émission vidéo hebdomadaire compte plus de 500 numéros.</p>
        </article>
        <article class="bg-warning p-3">
            <h2 class="fs-4 fw-bold mb-3"><a class="text-decoration-none" href="https://www.gameblog.fr/">GAMEBLOG.FR</a></h2>
                <img  style="width: 200px;height: 70px; margin-bottom: 10px;" src="/images/gameblog-logo.png.webp" alt="gameblog_logo">
                    <p>Gameblog a été créé en 2007 par d'anciens journalistes renommés de la presse papier, qui connaît à cette époque de grands bouleversements.
                    Son ton plus léger et son orientation rapide vers la culture populaire dans son ensemble lui offrent rapidement une solide réputation dans le paysage vidéoludique français. Si de nombreux départs de ses membres les plus éminents et l'entrée en son capital des italiens de e-borealis ont quelque peu entravé sa dynamique depuis 2014, le site compte toujours parmi les plus importants en France.  
                    Plus de 570 épisodes du podcast de Gameblog ont été diffusés à ce jour (les meilleurs podcasts jeu vidéo)..</p>
        </article>
        <article class="bg-primary p-3">
            <h2 class="fs-4 fw-bold mb-3"><a class="text-decoration-none text-warning" href="https://www.jeuxvideo.fr/">JEUXVIDEO.FR</a></h2>
                <img  style="width: 110px;height: 70px; float: left; margin-right: 5px;" src="/images/jvfr.png" alt="jvfr-logo">
                    <p>Site de fan du début des années 2000, Jeuxvideo.fr se professionnalise en 2005 suite à son rachat par Cyréalis (Clubic.com).
                        Spécialiste des contenus vidéo (tests vidéo, reportages, vidéos des internautes, trailers, émissions, défis), le site est racheté par M6 en 2008 et ferme ses portes en 2015.
                        Relancé en version beta par Clubic SAS en juin 2021 sous le nom JVFR, le site entend retrouver sa place d4outsider de la presse de jeu vidéo francophone, aux côtés de Jeuxvideo.com et Gamekult.</p>
        </article>
    </div>
</section>